---
- name: Ensure Required Packages Are Installed
  hosts: servers
  become: yes
  tasks:
    - name: Ensure pip is installed
      apt:
        name: python3-pip
        state: present

    - name: Ensure required Python packages are installed
      pip:
        name:
          - ansible
          - jinja2
        state: latest

    - name: Check Ansible version
      command: ansible --version
      register: ansible_version
      changed_when: false

    - name: Display Ansible version
      debug:
        var: ansible_version.stdout_lines

    - name: Check Jinja2 version
      command: pip show jinja2
      register: jinja2_version
      changed_when: false

    - name: Display Jinja2 version
      debug:
        var: jinja2_version.stdout_lines
